<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Servlet.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listUser</servlet-name>
        <servlet-class>Controller.User.listUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>Controller.User.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <servlet-class>Controller.User.editUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUserAction</servlet-name>
        <servlet-class>Controller.User.editUserAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeUser</servlet-name>
        <servlet-class>Controller.User.removeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listArticle</servlet-name>
        <servlet-class>Controller.Article.listArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addArticle</servlet-name>
        <servlet-class>Controller.Article.addArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editArticle</servlet-name>
        <servlet-class>Controller.Article.editArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editArticleAction</servlet-name>
        <servlet-class>Controller.Article.editArticleAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeArticle</servlet-name>
        <servlet-class>Controller.Article.removeArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listLogo</servlet-name>
        <servlet-class>Controller.Logo.listLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addLogo</servlet-name>
        <servlet-class>Controller.Logo.addLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editLogo</servlet-name>
        <servlet-class>Controller.Logo.editLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editLogoAction</servlet-name>
        <servlet-class>Controller.Logo.editLogoAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeLogo</servlet-name>
        <servlet-class>Controller.Logo.removeLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listContact</servlet-name>
        <servlet-class>Controller.Contact.listContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addContact</servlet-name>
        <servlet-class>Controller.Contact.addContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditContact</servlet-name>
        <servlet-class>Controller.Contact.EditContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditContactAction</servlet-name>
        <servlet-class>Controller.Contact.EditContactAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeContact</servlet-name>
        <servlet-class>Controller.Contact.removeContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCategory</servlet-name>
        <servlet-class>Controller.Category.listCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategory</servlet-name>
        <servlet-class>Controller.Category.addCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCategory</servlet-name>
        <servlet-class>Controller.Category.editCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCategoryAction</servlet-name>
        <servlet-class>Controller.Category.editCategoryAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeCategory</servlet-name>
        <servlet-class>Controller.Category.removeCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listProduct</servlet-name>
        <servlet-class>Controller.Product.listProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>Controller.Product.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProduct</servlet-name>
        <servlet-class>Controller.Product.editProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductAction</servlet-name>
        <servlet-class>Controller.Product.editProductAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeProduct</servlet-name>
        <servlet-class>Controller.Product.removeProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listBill</servlet-name>
        <servlet-class>Controller.Bill.listBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listProductFour</servlet-name>
        <servlet-class>Controller.Product.listProductFour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listAll</servlet-name>
        <servlet-class>Controller.TrangChu.listAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listLienHe</servlet-name>
        <servlet-class>Controller.Lienhe.listLienHe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controller.Login.loginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listUser</servlet-name>
        <url-pattern>/listUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUserAction</servlet-name>
        <url-pattern>/editUserAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeUser</servlet-name>
        <url-pattern>/removeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listArticle</servlet-name>
        <url-pattern>/listArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addArticle</servlet-name>
        <url-pattern>/Article/addArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editArticle</servlet-name>
        <url-pattern>/editArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editArticleAction</servlet-name>
        <url-pattern>/editArticleAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeArticle</servlet-name>
        <url-pattern>/removeArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listLogo</servlet-name>
        <url-pattern>/listLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addLogo</servlet-name>
        <url-pattern>/Logo/addLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editLogo</servlet-name>
        <url-pattern>/editLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editLogoAction</servlet-name>
        <url-pattern>/editLogoAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeLogo</servlet-name>
        <url-pattern>/removeLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listContact</servlet-name>
        <url-pattern>/listContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addContact</servlet-name>
        <url-pattern>/Contact/addContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditContact</servlet-name>
        <url-pattern>/editContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditContactAction</servlet-name>
        <url-pattern>/editContactAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeContact</servlet-name>
        <url-pattern>/removeContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCategory</servlet-name>
        <url-pattern>/listCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategory</servlet-name>
        <url-pattern>/Category/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCategory</servlet-name>
        <url-pattern>/editCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCategoryAction</servlet-name>
        <url-pattern>/editCategoryAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeCategory</servlet-name>
        <url-pattern>/removeCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listProduct</servlet-name>
        <url-pattern>/listProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/Product/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProduct</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductAction</servlet-name>
        <url-pattern>/editProductAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeProduct</servlet-name>
        <url-pattern>/removeProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listBill</servlet-name>
        <url-pattern>/listBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listProductFour</servlet-name>
        <url-pattern>/listProductFour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listAll</servlet-name>
        <url-pattern>/listAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listLienHe</servlet-name>
        <url-pattern>/listLienHe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
